
.header{
  height: 15vh;
}

body{
  background-color: rgb(174, 174, 171);
}

.display{
  text-align: right;
}

.btn{
  width: 100%;
}

.table{
  width: 50vw;
  background-color: #5792ab;
  border-radius: 5px;
}

.btn{
  font-size: 1.5em;
}

